h1 {
    /* color: red; */
}

#navbar-logo {
    width: 100px;
}

.banner {
    background-color: rgb(247, 234, 234);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}